*.o
*.lo
*.la
*.lai
*.so*
*~

/client
/paftest
/.libs/client
/doc/libpaf.pdf
/doc/html
/doc/latex
/.doxygen
*.png

.deps

/m4
/Makefile
/Makefile.in
/aclocal.m4
/autogen.sh
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
.dirstamp
/install-sh
/libtool
/ltmain.sh
/missing
.dirstamp
.testcert
